$gradient-border-col: #d8e1ec;

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    header {
        margin: 5px;
    }
}

#projects-section 
{

    article 
    {
        margin: 5px;
        background-color: rgb(246, 247, 250);
        padding: 20px;
        border-style: solid;
        border-color:#b1b1b1;
        border-width: 1px;
        
        h2 {
           margin-top: 0;
           margin-bottom: 0;
        }

        h2::after {
            content: '';
            display: block;
            padding: 1px;
            width: 100%;
            height: 4px;
            margin-bottom: 0;
            background: linear-gradient(to right, transparent, $gradient-border-col, transparent);
        }

        #createdAt {
            padding-top: 0;
            margin-top: 0;
            font-size: 10px;
            font-weight: bold;
        }

        #technologies-container {
            display: flex;
            flex-direction: row; 
        }

        #technologies { 
            margin: 0 2px 0 2px;
            padding: 4px 4px 4px 4px; 

            font-size: 14px;

            color:rgb(0, 0, 0);
            background-color: rgb(229, 242, 245);
            border-radius: 1px;
        }
    }
}

#project-form-section {
    grid-area: project-form-section;
}

#project-form fieldset
{
    legend {
        font-weight: bold;
    }

    display: grid;
    width: 25%;
    margin: 5px;
    background-color: rgb(246, 247, 250);
    padding: 20px;
    border-style: solid;
    border-color:#b1b1b1;
    border-width: 1px;

    #submit {
        margin-top: 1rem;
        padding: 0.5rem;
        font-weight: bold;
        font-size: 16px;
        color: white;
        background-color: rgb(39, 187, 71);
        border-style: none;
        border-radius: 1px;
    }

    #submit:hover {
        cursor: pointer;
        background-color: rgb(47, 68, 51);
    }
}
